extends templates/layout.pug

block meta
  title Multi-crew (SOP) checklist
  meta(name="description" content="my blog about building a home cockpit")
  meta(name="keywords" content="homecockpit, home cockpit, blog, building")
block scripts
  script(src="js/checklist.js")

block header 
  style. 
  
block content
  joeherwig-checklist
