block menu
  div
    div
      ul
        li
          a(href='index.html') Home
          ul
            li
              a(href='how-to-start.html') How to start?
            li
              a(href='building-principles.html') My building principles
        li
          a(href='homecockpit-shell.html') Shell + Screen
        li Overhead
          ul
            li Hardware
              ul
                li
                   a(href='overhead.html') The overhead panel
                li
                   a(href='korry-alikes.html') Korry-alike switches
            li Software
              ul
                li
                  a(href='wifi-node.html') wifi-node for annunciators
        li Glare shield
          ul
            li Hardware
              ul
                li 
                  a(href="G1000nxi.html") G1000nxi controls
            li Software
              ul
                li
                  a(href='https://github.com/joeherwig/A32nx-LINDA-aircraft-module/blob/main/README.md' target="a32nx-linda-module") A32nx LINDA Module for VRinsight MCP2a

        li MIP
          ul
            li Hardware
              ul
                li
                  a(href='screen-gauge-covers.html') screen gauge covers
                li G1000 controls
            li Software
              ul
                li
                  a(href='portable-sim-panels.html') portable sim panels
        li 
          a(href="pedestal.html") Pedestal
          ul
            li Hardware
              ul
                li 
                  a(href="thrust-lever-kit.html") Thrust lever kit
                li Engine start panel
        li 
          a(href='audio.html') Audio 
        li 
          a(href="phraseology-trainer.html") ICAO phraseology trainer
        //li
          a(href='#') Contact